<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">

    <title>Moringa Front-end Component</title>
</head>

<body>
    <div>

        <div class="home">
            <nav class="navbar navbar-expand-lg" style="background-color: transparent">
                <h1 class="nav-item title">Yolomy</h1>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item active" style="padding-right: 50px">
                            <h6 class="nav-link title">Home</h6>
                        </li>
                        <li class="nav-item" style="padding-right: 50px">
                            <h6 class="nav-link title">Product</h6>
                        </li>

                        <li class="nav-item">
                            <img src="assets/logo/shop.png" class="nav-link" />
                        </li>
                    </ul>
                </div>
            </nav>
            <div style="margin-top: 10%">
                <h1 class="title">Our Clothing, your Comfort</h1>
                <h6 class="title">We understand that you need to look good and feel great.
                    <br/> It all start with what you are wearing.
                </h6>
                <img src="assets/mouse_click.png" class="text-center" style="margin-top: 17%" />
            </div>
        </div>

        <div class="bar">
            <div class="row">
                <div class="col col-lg-4">
                    <div class="row" style="margin-top: 7.5%">
                        <div class="col-sm">
                            <input type="checkbox" name="vehicle1" value="Bike">
                            <span style="font-size: 14px" class="align-baseline">MEN</span>
                        </div>
                        <div class="col-sm">
                            <input type="checkbox" name="vehicle1" value="Bike">
                            <span style="font-size: 14px" class="align-baseline">WOMEN</span>
                        </div>
                        <div class="col-sm">
                            <input type="checkbox" name="vehicle1" value="Bike">
                            <span style="font-size: 14px" class="align-baseline">CHILDREN</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-4" style="margin-top: 18px">
                    <button type="button" class="mybtn">SEE ALL PRODUCTS</button>
                </div>
            </div>
        </div>

        <div class="container category">
            <br/>
            <br/>
            <div>
                <div>
                    <div class="home-headline">
                        <span>MEN</span>
                    </div>
                    <hr style="margin-top: -15px" />
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col ">
                        <div class="card mycard align-self-center" id="card">
                            <div class="card-body">
                                <h6 class="card_size_text">SIZE</h6>
                                <img src="assets/products/tshirt.png" style="height: 30vh" class="text-center rounded mx-auto d-block">
                                <br/>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card_footer_text">T-SHIRT</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="card_price">60,00 €</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mycard" id="card">
                            <div class="card-body">
                                <h6 class="card_size_text">SIZE</h6>
                                <img src="assets/products/pants.png" style="height: 30vh" class="text-center rounded mx-auto d-block">
                                <br/>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card_footer_text">PANTS FORCLAZ</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="card_price">60,00 €</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mycard" id="card">
                            <div class="card-body">
                                <h6 class="card_size_text">10 LITRI</h6>
                                <img src="assets/products/backpack.png" style="height: 30vh" class="text-center rounded mx-auto d-block">
                                <br/>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card_footer_text">BACKPACK</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="card_price">60,00 €</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div>
                <div>
                    <div class="row">
                        <div class="col-10">
                            <hr />
                        </div>
                        <div class="col">
                            <div class="home-headline">
                                <span>WOMEN</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col ">
                        <div class="card mycard align-self-center" id="card">
                            <div class="card-body">
                                <h6 class="card_size_text">SIZE</h6>
                                <img src="assets/products/giacket.png" style="height: 30vh" class="text-center rounded mx-auto d-block">
                                <br/>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card_footer_text">T-SHIRT</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="card_price">60,00 €</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mycard" id="card">
                            <div class="card-body">
                                <h6 class="card_size_text">SIZE</h6>
                                <img src="assets/products/trekkingshoes.png" style="height: 30vh" class="text-center rounded mx-auto d-block">
                                <br/>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card_footer_text">PANTS FORCLAZ</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="card_price">60,00 €</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mycard" id="card">
                            <div class="card-body">
                                <h6 class="card_size_text">10 LITRI</h6>
                                <img src="assets/products/tshirt_ladies.png" style="height: 30vh" class="text-center rounded mx-auto d-block">
                                <br/>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card_footer_text">BACKPACK</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="card_price">60,00 €</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about_img" style="padding-top: 6%">
            <h6 class="about_txt">
                ABOUT US
            </h6>
            <h6 class="about_txt">
                This is where high-fashion clothing is
                <br/> designed and crafted from the heart by
                <br /> an amazing team of craftsmen and
                <br /> designers who understand what fashion
                <br/> is.
            </h6>
        </div>

        <div class="d-flex justify-content-center mini_footer">
            <img src="assets/social_icons/twitter_bird.png" alt="twitter">
            <h6 class="mini_footer_txt">" SALE: Buy anything for 45% off. Use the promo CODE YOLOMY45 when you buy items "</h6>
        </div>

        <div class="footer">
            <div class="row">
                <div class="col">
                    <h4>YOLOMY</h4>
                    <h6 class="footer_txt">
                        WE ARE YOLOMY- WE UNDERSTAND
                        <br/> FASHION AND STYLE. WE CRAFT OUR
                        <br/> PRODUCTS WITH LOVE AND DILIGENCE.
                    </h6>
                </div>
                <div class="col" style=" margin-bottom: 3%">
                    <h6 class="footer_txt_bold">We are social</h6>
                    <div class="row" style="margin-top:5%;">
                        <div class="col">
                            <img src="assets/social_icons/g_plus.png" alt="g+">
                        </div>
                        <div class="col">
                            <img src="assets/social_icons/facebook.png" alt="g+">
                        </div>
                        <div class="col">
                            <img src="assets/social_icons/you_tube.png" alt="g+">
                        </div>
                        <div class="col">
                            <img src="assets/social_icons/stumble_upon.png" alt="g+">
                        </div>
                    </div>
                    <div class="row" style="margin-top:5%">
                        <div class="col">
                            <img src="assets/social_icons/skype.png" alt="g+">
                        </div>
                        <div class="col">
                            <img src="assets/social_icons/flickr.png" alt="g+">
                        </div>
                        <div class="col">
                            <img src="assets/social_icons/twitter.png" alt="g+">
                        </div>
                        <div class="col">
                            <img src="assets/social_icons/pinterest.png" alt="g+">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="footer_txt">
                        <span>CREDITS |</span>
                        <span>PRIVACY |</span>
                        <span>ABOUT |</span>
                        <span>CONTACTS</span>
                    </div>
                    <h6 class="footer_txt_bold">YOLOMY: We mean fashion</h6>
                </div>
            </div>
            <p class="footer_txt" style="text-align:center">
                COPYRIGHT 2015. YOLOMY INC.
            </p>
        </div>

    </div>
</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
</script>
<script>
    $(document).ready(function () {
        $("#card div").hover(function () {
            $(this).css("border", "solid");
            $(this).css("border-color", "#c6bfa5");
        }, function () {
            $(this).css("border", "none");
            $(this).css("border-color", "transparent");
        });
    });
</script>

</html>